<% this.title='归档' %>
<%
function getyear (time) {
  let str = web_util.formatDate(time);
  return str.split('-')[0];
}
%>
<%- include('head') %>
<style>
  input[type=text] {
    width: 100%;
    vertical-align: top;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255,255,255,0);
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    font-size: 1em;
    background: #fff;
    color: rgba(0,0,0,.87);
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
}
</style>
<% if (articles.length) {
  let lastYear = '2077';

  for (let a of articles) {
    let thisyear = getyear(a.create_time);
    if (thisyear != lastYear) { %>
      <h2><%= thisyear %></h2>
      <% lastYear = thisyear; %>
    <% } %>
      <div class="ui segment">
      <a href="/article/<%= a.id %>"><h4><%= a.title %></h4></a>
      </div>
<% }} else { %>
<div class="ui placeholder segment">
  <div class="ui icon header">
    <i class="calendar icon" style="margin-bottom: 20px; "></i>
    暂无文章，敬请期待~
  </div>
</div>
<% } %>

<%- include('foot') %> 