<% if (article) { this.title = article.title; } else { this.title = "新建文章"; } %>


<%- include('head') %>
<style>
  .copy:hover {
    cursor: pointer;
  }
</style>
<% if (article) { %>
  <h4 class="ui top attached block header"><i class="ui folder icon"></i>文件列表</h4>
  <div class="ui bottom attached segment">
    <table class="ui very basic center aligned table">
      <thead>
        <tr>
          <th class="left aligned">文件名</th>
          <th style="width: 35px">链接</th>
          <th style="width: 35px">下载</th>
          <th style="width: 35px">删除</th>
          
        </tr>
      </thead>
      <tbody>
        <% if (files) { for (let file of files) { %>
        <tr>
          <td class="left aligned"><i class="file icon"></i> <%= file %></td>
          <td><div class="copy" style="color: #e28989; " onclick="copyText('<%= web_util.makeUrl(['api', 'download', article.id, file]) %>')"><i class="fad fa-clipboard fa-fw"></i></div></td>
          <td><a style="color: #6cf; " href="<%= web_util.makeUrl(['api', 'download', article.id, file]) %>"><i class="fad fa-download fa-fw"></i></a></td>
          <td><div style="color: red;" class="copy" onclick="deleteFile(<%= article.id %>, '<%= file %>')"><i class="fad fa-times fa-fw"></i></div></td>
          
        </tr>
       
      <% } } %>
      </tbody>
    </table>
    <form class="ui form" id="uploadForm" enctype="multipart/form-data"> 
      <label for="file">上传文件（请使用 ZIP 格式）</label>
      <input type="file" name="file" id="file">
    </form>
    <div class="ui center aligned vertical segment" style="padding-bottom: 0; ">
      <div class="ui labeled icon blue button" onclick="uploadFile(<%= article.id %>)"><i class="ui edit icon"></i>提交</div>
    </div>
  </div>
<% } %>
<div class="ui segment">
  <div class="ui form">
    <div class="field">
      <label for="title">标题</label>
      <input type="text" id="title" name="title" value="<%= article.title %>">
    </div>
    <div class="field">
      <label for="title">描述</label>
      <input type="text" id="description" name="description" value="<%= article.description %>">
    </div>
    <div class="field">
      <label>内容</label>
      <textarea id='tmp' style="display: none;"><%= article.content %></textarea>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/markdown-palettes@0.4.13/dist/markdown-palettes.css">
      <script src="https://cdn.jsdelivr.net/npm/markdown-palettes@0.4.13/dist/markdown-palettes.min.js"></script>
      <div id="editor-container" style="height: 700px;">
        <div id="editor"></div>
      </div>
    </div>
  </div>
  <br>
</div>
<div style="text-align: center; ">
  <button id="submit_button" class="ui labeled submit icon button" onclick="javascript:submit(<%= article.id %>)">
    <i class="icon edit"></i> 发布文章
  </button>

</div>
</div>

<script>
var markdownEditor = new MarkdownPalettes("#editor");
markdownEditor.content = $('#tmp').val();
function show_error(title, error) {
  swal({
    title: title + "失败。",
    icon: "error",
    text: error
  });
}
function success(title, id) {
  swal({
    title: title + "成功！",
    icon: "success"
  }).then(function () {
    window.location.href = location.protocol + '//' + location.host + '/article/' + id;
  });
}
function submit(id) {
  $.ajax({
    url: `/article/${id}/edit`,
    type: 'POST',
    data: {
      'title': $('#title').val(),
      'description': $('#description').val(),
      'content': markdownEditor.content
    },
    async: true,
    success: function (data) {
      error_code = data.error_code;
      switch (error_code) {
        case 3001:
          show_error("文章发布", "请登录后继续。");
          break;
        case 3002:
          show_error("文章发布", "标题名不能为空。");
          break;
        case 1:
          success("文章发布", data.article_id);
          return;
        default:
          show_error("文章发布", "未知错误。" + data.detail);
          break;
      }
    },
    error: show_error("文章发布", "您与服务器断开连接。")
  });
}
function deleteFile(id, filename) {
  $.ajax({
    url: `/api/delete/${id}/${filename}`,
    type: 'POST',
    async: true,
    success: function (data) {
      error_code = data.error_code;
      switch (error_code) {
        case 9001:
          show_error("删除", "操作不合法。");
          break;
        case 9002:
          show_error("删除", data.detail);
          break;
        case 1:
          success("删除", id + '/edit');
          return;
        default:
          show_error("删除", error_code);
          break;
      }
    },
    error: show_error("删除", "您与服务器断开连接。")
  });
}
function uploadFile(id) {
  var formData = new FormData($('#uploadForm')[0]); 
  $.ajax({
    url: `/api/upload/${id}`,
    type: 'POST',
    data: formData,
    async: true,
    contentType: false,
    // 告诉jQuery不要去设置Content-Type请求头
    processData: false,
    // 告诉jQuery不要去处理发送的数据
    success: function (data) {
      error_code = data.error_code;
      switch (error_code) {
        case 9001:
          show_error("文件上传", "未选择文件。");
          break;
        case 9002:
          show_error("文件上传", "文件格式不正确。请使用 ZIP 格式。");
          break;
        case 1:
          success("文件上传", id + '/edit');
          return;
        default:
          show_error("文件上传", `${data.detail}`);
          break;
      }
    },
    error: show_error("文件上传", "您与服务器断开连接。")
  });
}
</script>

<%- include('foot') %>