<%- include('util') %>
<!DOCTYPE html>
<html lang="zh-CN" style="position: fixed; width: 100%; overflow: hidden; ">
<head>
    <style>
        .ui.menu .item>i.fal {
        opacity: .9;
        float: none;
        margin: 0 .35714286em 0 0;
    }
    </style>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width">
    <title><%= title %> - 三叶虫校刊网</title>
    <link href="https://cdn.jsdelivr.net/gh/FYMS-OI/cdn@master/css/semantic.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/Linhk1606/fontawesome-cdn@master/css/all.min.css" rel="stylesheet">
    <link href="/css/main.css", rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" href="/img/fzsz.jpg"/>
    <script data-cfasync="false" src="<%- lib('jquery/3.3.1/jquery.min.js') %>"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
		
	<div class="wrapper">
		<div id="web_bg" style="background-image: url(https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist@1.1.0/2020/005.webp);"></div>
	</div>
    <div class="ui fixed borderless menu" style="position: fixed; min-height: 49px; ">
			<div id="mainMenuContainer" class="ui container">
				<div class="header item" style="font-size: 20px;">三叶虫校刊网</div>
				<a class="desktop item<% if (active === '') { %> active<% } %>" href="/"><i class="fal fa-home"></i> 首页</a>
				<a class="desktop item<% if (active === 'archives') { %> active<% } %>" href="/archives"><i class="fal fa-archive"></i> 归档</a>
				<div class="right menu">
				<% if (user) { %>
				<div class="ui simple dropdown desktop item">
					<span class="user" style="margin-right: 5px;"><%= user.username %></span><i class="fad fa-angle-down"></i>
					<div class="menu">
						<a class="item" href="<%= web_util.makeUrl(['loginPage', 'logout'], { req.query['url'] || req.originalUrl }) %>"><i class="fad fa-power-off"></i>注销</a>
					</div>
				</div>
				<% } else { %>
				<div class="desktop item">
					<a class="ui button" style="margin-right: 0.5em; " href="<%= web_util.makeUrl(['loginPage'], { req.query['url'] || req.originalUrl }) %>">
						登录
					</a>
					<a class="ui primary button" href="<%= web_util.makeUrl(['registerPage'], { req.query['url'] || req.originalUrl }) %>">
						注册
					</a>
				</div>
				<% } %>
				<a class="mobile start item" style="color: #6435c9;"><i aria-hidden="true" class="fad fa-bars"></i></a>
				</div>
				<div class="ui mobile push right sidebar vertical menu">
					<div class="mobile item" style="font-size: 23px; text-align: center;" href="/">三叶虫校刊网</div>
					<% if (user) { %>
					<span class="item user" style="text-align: center;">已登录用户：<%= user.username %></span>
					<div class="item">
						<div class="ui fluid buttons">
							<a class="ui red button" href="<%= web_util.makeUrl(['loginPage', 'logout'], { req.query['url'] || req.originalUrl }) %>"><i class="fad fa-power-off"></i>注销</a>
						</div>
					</div>
					
					<% } else { %>
					<div class="item">
						<div class="ui fluid buttons">
							<a class="ui button" href="<%= web_util.makeUrl(['loginPage'], { req.query['url'] || req.originalUrl }) %>">登录</a><a class="ui primary button" href="<%= web_util.makeUrl(['registerPage'], { req.query['url'] || req.originalUrl }) %>">注册</a>
						</div>
					</div>
					<% } %>
					<a class="mobile item<% if (active === '') { %> active<% } %>" href="/"><i class="fal fa-home"></i> 首页</a>
					<a class="mobile item<% if (active === 'archives') { %> active<% } %>" href="/archives"><i class="fal fa-archive"></i> 归档</a>
				</div>
			</div>
    </div>
	
	<div style="margin-top: 49px; height: calc(100% - 49px); overflow-y: auto;">
	<div style="margin-top: 28px; ">
	<div id="mainUiContainer" class="ui main container">