<% this.title='首页' %>
<% let panguMode='disabled' %>
<%- include('head') %>
<style>
  input[type=text] {
    width: 100%;
    vertical-align: top;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255,255,255,0);
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    font-size: 1em;
    background: #fff;
    color: rgba(0,0,0,.87);
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
}
</style>
<% if (articles.length) { for (let a of articles) { %>
<div class="ui segment">
<a href="/article/<%= a.id %>"><h2><%= a.title %></h2></a>
<p class="description">
  <% if (a.description) { %><%= a.description %>
  <% } else { %>暂无描述~<% } %>
</p>
<div  style="text-align: right;"><a href="/article/<%= a.id %>">查看更多&nbsp;&nbsp;<i class="fad fa-angle-right fa-fl"></i></a></div>

</div>
<% }} else { %>
<div class="ui placeholder segment">
  <div class="ui icon header">
    <i class="calendar icon" style="margin-bottom: 20px; "></i>
    暂无文章，敬请期待~
  </div>
</div>
<% } %>

<script>
  // $(function () {
  //   $('.ui.dropdown:not(.simple)').dropdown();
  //   $('.ui.accordion').accordion();
  // })
  // function show_error(error) {
  //   swal({
  //     title: "修改失败。",
  //     icon: "error",
  //     text: error
  //   });
  // }
  // function success(session_id) {
  //   // window.location.href = location.protocol + '//' + location.host + <%- serializejs('/') %>;
  //   swal({
  //     title: "修改成功！",
  //     icon: "success"
  //   }).then(function () {
  //     window.location.reload();
  //   });
  // }
  // function submit(value) {
  //   $.ajax({
  //     url: `/contest/${value}/edit`,
  //     type: 'POST',
  //     data: {
  //       "grade": $(`#grade${value}`).val(),
  //       "type": $(`#type${value}`).val(),
  //       "title": $(`#title${value}`).val(),
  //       "time": $(`#time${value}`).val(),
  //       "rating": $(`#rating${value}`).val()
  //     },
  //     async: true,
  //     success: function(data) {
  //       error_code = data.error_code;
  //       switch (error_code) {
  //         case 3001:
  //           show_error("没有权限。");
  //           break;
  //         case 3002:
  //           show_error("格式不正确。");
  //           break;
  //         case 1:
  //           success(data.session_id);
  //           return;
  //         default:
  //           show_error("未知错误。错误代码 " + error_code + " : " + data.detail);
  //           break;
  //       }
  //     },
  //     error: function (XMLHttpRequest, textStatus, errorThrown) {
  //       alert(XMLHttpRequest.responseText);
  //       show_error("未知错误");
  //     }
  //   });
  // }
</script>
<%- include('foot') %> 