<% this.title='首页' %>

<%- include('head') %>
<style>
  input[type=text] {
    width: 100%;
    vertical-align: top;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255,255,255,0);
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    font-size: 1em;
    background: #fff;
    color: rgba(0,0,0,.87);
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
}
</style>
<% if (user) { %>
<div style="text-align: right;">
  <a class="ui pink labeled icon button" href="<%= web_util.makeUrl(['article', 0, 'edit']) %>">
    <i class="plus icon"></i>新建文章
  </a>
</div>
  <% } %>
<% if (articles.length) { for (let a of articles) { %>
<div class="ui segment">
  <div class="post-head"><a class="post-title" href="/article/<%= a.id %>"><h2 class="post-title-link"><%= a.title %></h2></a></div>

<p class="description">
  <% if (a.description) { %><%= a.description %>
  <% } else { %>暂无描述~<% } %>
</p>
<div  style="text-align: right;"><a href="/article/<%= a.id %>">查看更多<i class="fad fa-angle-right fa-fw"></i></a></div>

</div>
<% }} else { %>
<div class="ui placeholder segment">
  <div class="ui icon header">
    <i class="calendar icon" style="margin-bottom: 20px; "></i>
    暂无文章，敬请期待~
  </div>
</div>
<% } %>

<%- include('page') %>

<%- include('foot') %> 